name: Build & test
run-name: Build & test @${{ github.actor }}'s ${{ github.event_name }} to ${{ github.ref_name }}
on: [ push, pull_request ]
jobs:
  main:
    name: Build & test (c${{ matrix.centos_version }}s, jdk${{ matrix.jdk_version }}u)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        centos_version: [ 9, 10 ]
        jdk_version: [ 25, 21, 17, 11, 8 ]

    env:
      MAIN_SCRIPT: .github/workflows/build_and_test.sh

    steps:
      - name: Check out ${{ github.ref_name }}@${{ github.sha }}
        uses: actions/checkout@v5

      - name: Run ${{ env.MAIN_SCRIPT }}
        run: ${{ github.workspace }}/${{ env.MAIN_SCRIPT }} ${{ matrix.centos_version }} ${{ matrix.jdk_version }}
